body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

hr {
    color: #ffffff;
}

header {
    margin-top: 10px;
}

#sitelogo {
    display: block; 
    margin: 0 auto; 
    width: 10%;
}

#puzzle {
    display: block;
    margin: 0 auto;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#board {
    width: 350px;
    height: 420px;
    /* background-color: #ffffff; */
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

#background {
    display: block;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 0;
    opacity: 0;
}

#rect {
    background-color: #000000;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 75%;
    border-radius: 10px;
    border: 2px solid #a0a0a0;
    z-index: 1;
    opacity: 0;
}

#answer {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 2;
    opacity: 0;
}

#solutionimg {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    width: 20%;
}

.tile {
    border: 2px solid #a0a0a0;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #4bb84b;
    color: #ffffff;
}

.incorrect {
    background-color: #000000;
    color: #ffffff;
}

.present {
    background-color: #c7b23c;
    color: #ffffff;
}

.skip {
    border: 2px solid #000000;
}